#d-i preseed/url string http://192.168.50.82:8000/d-i/forky/preseed.cfg
#d-i debian-installer/locale string en_US.UTF-8
#d-i localechooser/supported-locales multiselect en_US.UTF-8, sv_SE.UTF-8, zh_CN.UTF-8, zh_TW.UTF-8, ja_JP.UTF-8, ko_KR.UTF-8, ru_RU.UTF-8, uk_UA.UTF-8, he_IL.UTF-8, ar_SA.UTF-8, th_TH.UTF-8
#d-i keyboard-configuration/xkb-keymap select us
#d-i auto-install/classes string prod;desktop;standard;static;timeshift;podman;software;crowdsec;btrfs-de;nvidia-legacy;cuda-legacy;tailscale;qemu;ch341a
#d-i netcfg/choose_interface select eth0
#d-i netcfg/disable_autoconfig boolean true
#d-i netcfg/confirm_static boolean true
#d-i netcfg/link_wait_timeout string 10
#d-i netcfg/dhcp_timeout string 60
#d-i netcfg/get_domain string lan.icramer.com
#d-i shared/ask_device select manual
#d-i shared/enter_device string /dev/sda2
#d-i iso-scan/ask_which_iso select debian-testing-amd64-netinst.iso
#d-i debconf/priority select high
#d-i netcfg/enable boolean true
#d-i netcfg/choose_interface select auto
#d-i hw-detect/load_firmware boolean true
d-i allow_unauthenticated_ssl boolean true
